<tr>
  <td><%= invoice.number %></td>
  <td><%= invoice.invoice_date %></td>
  <td><%= number_to_currency(invoice.total_price)%></td>
  <td><%= link_to 'Edit', edit_vendor_invoice_url(vendor_id: invoice.vendor_id, id: invoice.id) %></td>
       
</tr>
