%tr.nested-fields
  %td
    /= f.text_field :title, class: 'grid ingredient_name'
    /= f.text_field :parent_id 
    = f.collection_select :parent_id, Recipe.where("id != ?", @recipe.id), :id, :title, {prompt: '...'}
    
  
  %td
  %td
  %td=link_to_remove_association 'Remove', f, :role=>"button", :class=>"btn btn-default" 